server:
  port: 8888
  servlet:
    context-path: /api
spring:
  application:
    name: fish-picture-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/fish_picture
    username: xxxxx
    password: xxxxx
  profiles:
    active: dev
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0
# 接口文档配置
knife4j:
  enable: true
  openapi:
    title: 官方文档
    group:
      default:
        api-rule: package
        api-rule-resources:
          - hk.fish.fishpicturebackend.controller
    version: 1.0